<!-- 
This handlebar file will be rendered when the following route is hit: GET http://localhost:3000/
 -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYC Council Project Explorer App</title>
    <link rel="stylesheet" href="/public/css/homePage.css">
</head>

<body>
    <main>
        

        <section class="home-page-background">PROJECT PAGE</section>
    </main>
</body>

</html>