/* Reset all margins and paddings */
* {
  margin: 0;
  padding: 0;
}

body {

    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
  }

  nav h1 {
    color: #fff;
    margin-left: 2rem;
    font-size: 2rem;
  }

  nav {
    background: #002c5f;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 3rem;
    font-weight: bold;
  }

  header {
    background-image: url('/public/images/home_page_banner.png');
    background-size: contain;
    height: 30rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  header h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
  }
  header p {
    margin-bottom: 30px;
    font-size: 1.1em;
  }
  header .btn, .cta .btn {
    display: inline-block;
    padding: 10px 25px;
    margin: 0 10px;
    background: #2D9D74;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
  }

  .heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .stats, .steps, .community, .cta, .features {
    padding: 60px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    gap: 5rem;
  }
  
  .content {
    display: flex;
    gap: 2rem;
  }

  .features img {
    margin-bottom: 2rem;
  }

  .features h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .features .content {
    gap: 5rem;
  }

  .steps .item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    font-weight: bold;
  }

  .steps h4 {
    font-size: 1.8rem;
  }
  
  .steps .content {
    gap: 5rem;
  }

  .steps img {
    width: 8rem;
  }

  .stats .content {
    gap: 10rem;
    font-weight: bold;
  }

  .stats span {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  
  
  .steps {
    background: #f0f0f0;
  }

  .community .item {
    background: #f0f0f038;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    line-height: 25px;
    max-width: 16rem;
    height: 10rem;
  }

  .community p {
    font-style: italic;
    margin-bottom: 3rem;
    color: #000000b2;
  }

  .cta {
    background: #002c5f;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
